
body {
    background-color: #d6effd;
    text-align: center;
}
.container  {  
    height: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    background-color: rgb(212, 203, 252);
    justify-content: space-between;
    border: 3px solid red;
   margin-top: 30px;
}

.item {
    width: 245px;
    border: 2.5px solid #000000;
}

#item1{
    background-color: #72ec62;
height: 20%;

}
#item2{
    background-color: #c586f8;
height: 70%;
    
}
#item3{
    background-color: #f5e941;
height: 35%;
    
}

#author {
    color:red;
    text-align: left;

}